footer{
    background: $viro-color;
    padding: $padding-base 0;

    ul{
    margin-bottom: 0;
    padding: 0;
    list-style: none;

        li{

            a{
                color: inherit;
                padding: 5px;
                font-weight: 500;
                font-size: 16px;
                /*text-transform: uppercase;*/
                border-radius: $border-radius-base;
                text-decoration: none;
                position: relative;
                display: block;

                &:hover{
                    text-decoration: none;
                    color:#fff;
                }
            }
        }
    }

    .copyright{
        /*padding: 15px 0;*/
        .material-icons{
            font-size: 18px;
            position: relative;
            top: 3px;
        }
    }
}
